/* This ensures the body takes up full viewport height and centers content flexibly */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Example background color */
}

/* Styles for the login form container */
#login-form {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjusts the space between elements */
}

/* Basic styles for input fields and buttons to make them look better */
input[type="text"], input[type="password"], button {
    padding: 10px;
    margin: 5px 0; /* Adds some space above and below each element */
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%; /* Makes each element take up the full container width */
}

button {
    cursor: pointer;
    background-color: #0056b3;
    color: white;
    border: none;
}

button:hover {
    background-color: #004494;
}

#login-error, #register-error {
    color: red;
    text-align: center;
}
